    <div class="container-fluid">
         <div class="row" id="footer">
            <div class="col">
                
                <ul>
                    <h2>LUXURY CAR</h2>
                    <li><a href="#">Rolls Royce Ghost</a></li>
                    <li><a href="#">Porsche Macan</a></li>
                    <li><a href="#">Porsche Cayenne GTS</a></li>
                    <li><a href="#">Range Rover Sport</a></li>
                </ul>
            </div>
            <div class="col">
                
                <ul>
                    <h2>EXOTIC CAR</h2>
                    <li><a href="#">Lamborghini</a></li>
                    <li><a href="#">Ferrari</a></li>
                    <li><a href="#">Porsche</a></li>
                    <li><a href="#">Audi R8 </a></li>
                    <li><a href="#">Acura NSX</a></li>
                    <li><a href="#">Alpha Romeo </a></li>
                    <li><a href="#">BMW I8</a></li>
                </ul>
            </div>
            <div class="col d-none d-sm-block d-md-block d-lg-block d-xl-block col-sm-4">
                
                <ul>
                    <h2>SERVICES</h2>
                    <li><a href="#">Escapade Week-end</a></li>
                    <li><a href="#">Mariage et loisirs</a></li>
                    <li><a href="#">Graduation</a></li>
                    <li><a href="#">Voiture de courtoisie</a></li>
                    <li><a href="#">Rally LuxeCArRental</a></li>
                    <li><a href="#">Auto Spa</a></li>
                </ul>
            </div>
            <div class="col">
                <h2>CONTACTEZ NOUS</h2>
                <P>  <h6>Luxe Car Rental</h6><br>
                    2522 rue wurtele<br>
                    montreal, Qc
                    H2K 2R4<br>
                    <img src="../../public/images/Phone.png" id="icon-contact"> :&nbsp;(0) 000.000.0000<br>
                    <img src="../../public/images/mail.png" id="icon-contact">:&nbsp;info@luxecar.com
                </P>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                   
                    <ul>
                        <li> <h4 style="color:#fff;">FOLLOW US</h4></li>
                        <li><a href="#"><img src="../../public/images/facebook.png" id="icon-social"></a></li>
                        <li><a href="#"><img src="../../public/images/twitter.png" id="icon-social"></a></li>
                        <li><a href="#"><img src="../../public/images/youtube.jpg" id="icon-social"></a></li>

                    </ul>
                </p>
            </div>
        </div>
    </div>
    <a id="topRetour" href="#" class="btn " role="button"><i class="fas fa-chevron-up"></i>Top</a>
    
    <p class="col-12" id="copyrigth">&copy; 2020 LuxeCArRental inc</p>
   
    
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src=../public/javascript/jquerieFile.js></script>