<!Doctype html>

<html>

<head>

<title><%=pageTitle%></title>

<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="../public/css/style1.css"/>

</head>

<body>

    <%-include('./partials/menu')%>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-xl-12 d-block" id="picTitle">
             <h1><%=pageTitle%></h1>
           </div>
       </div>
        <div class="row" id="about">
        <div class="col-12">
            <div>
                <div class="card-body" style="color:azure;">
                    <div class="row my-4">
                        <div class="col-1"></div>
                        <div class="col-6">
                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
                            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet,</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                                <img src="../public/images/imm1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div>
                <div class="card-body" style="color:azure;">
                    <div class="row my-4">
                        <div class="col-1"></div>
                        <div class="col-6">
                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
                            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet,</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                                <img src="../public/images/imm1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div>
                <div class="card-body" style="color:azure;">
                    <div class="row my-4">
                        <div class="col-1"></div>
                        <div class="col-6">
                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
                            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet,</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                                <img src="../public/images/imm1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div>
                <div class="card-body" style="color:azure;">
                    <div class="row my-4">
                        <div class="col-1"></div>
                        <div class="col-6">
                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
                            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet,</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                                <img src="../public/images/imm1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div>
                <div class="card-body" style="color:azure;">
                    <div class="row my-4">
                        <div class="col-1"></div>
                        <div class="col-6">
                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
                            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet,</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                                <img src="../public/images/imm1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div>
                <div class="card-body" style="color:azure;">
                    <div class="row my-4">
                        <div class="col-1"></div>
                        <div class="col-6">
                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
                            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet,</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                                <img src="../public/images/imm1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div>
                <div class="card-body" style="color:azure;">
                    <div class="row my-4">
                        <div class="col-1"></div>
                        <div class="col-6">
                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
                            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet,</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                                <img src="../public/images/imm1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <%-include('./partials/footer')%>
</body>

</html>

